body{
  margin: 0px;
  color:rgb(20,20,20);
  background: #E5EBEA;//rgb(245,245,245);
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-family: 'Lobster' ;
  color: #23AAFD;
}
h2{
  font-family: 'Open Sans', sans-serif;
  color: #23AAFD;
}
p{
  font-size: 16px;
  line-height: 20px;
}

#header{
  text-align: center;
  padding-top: 180px;
  padding-bottom: 20px;
  color:#23AAFD;
  background: url("img/15377865150_63e3b9b60d_o.jpg");
  background-repeat:no-repeat;   
  background-position:center;
  background-size: cover;   
  font-family: 'Lobster' ;
  font-size: 30px;

}

.features{
  padding: 40px;
  font-weight: 300;
}
.features img{
  width: 100px;
  padding: 15px;
  border:3px solid black;
  border-radius: 50%;
}
.features img:hover{
  //width:150px;
  img-color: steelblue;
  border-color: steelblue;
}
#footer{
  padding: 30px;
  background: rgb(30,30,30);
  color: lightgrey;
}
#footer a{
  color: steelblue;
  font-size: 25px;
}
#footer a:hover{
  color: white;
}